<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Links</h5>
                <ul class="footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Our Address</h5>
                <address>
                    214, King Street West<br>
                    Downtown, Toronto<br>
                    ONTARIO<br>
                    <i class="fa fa-phone"></i>: +416 1234 5678<br>
                    <i class="fa fa-fax"></i>: +416 8765 4321<br>
                    <i class="fa fa-envelope"></i>: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>
                </address>
            </div>
            <div class="col-sm-6">
                <div style="padding: 40px 10px;" class="social-share-bar">
                    <a href="http://google.com/+" title="Google+"><img class="social-icon" alt="Google+" src="assets/images/google.png"></a>
                    <a href="http://www.facebook.com/profile.php?id=" title="Facebook"><img alt="Facebook" class="social-icon"
                            alt="Google+" src="assets/images/facebook.png"></a>
                    <a href="http://www.linkedin.com/in/" title="LinkedIn"><img alt="LinkedIn" class="social-icon" alt="Google+"
                            src="assets/images/linkedin.png"></a>
                    <a href="http://twitter.com/" title="Twitter"><img alt="Twitter" class="social-icon" alt="Google+"
                            src="assets/images/twitter.png"></a>
                    <a href="http://youtube.com/" title="YouTube"><img alt="YouTube" class="social-icon" alt="Google+"
                            src="assets/images/youtube.png"></a>
                    <a href="mailto:" titel="Mail"><i class="social-icon fa fa-envelope-o"></i></a>
                </div>
            </div>
            <div class="copyright-container font-weight-bold">
                <p style="padding:10px;"></p>
                <p align=center>© Copyright 2015 Ristorante Il Fornello</p>
            </div>
        </div>
    </div>
</footer>
