header {
    padding-bottom: 80px;
    background-color: #7884CE;

    nav {
        background-color: #2F3BA3;
        padding: 0 !important;

        .logo {
            height: 40px;
            width: auto;
        }

        .nav-link {
            font-weight: 500px;
            color: silver;

            &.selected {
                color: white;
            }
        }
    }

    .app-header--title {
        font-size: 4rem;
        font-weight: 600;
    }

    .app-header--desc {
        font-size: 1.5rem;
        width: 75%;
    }
}
